body{
    margin: 0 auto;
    width: 1130px;
}
.hidden{
    display: none;
}
form{
    margin-bottom:20px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width:300px;
}
li{
    clear:both;
}
li button{
    -webkit-appearance: none;
    border:none;
    outline:none;
    color:red;
    float:right;
    cursor: pointer;
} 
.lists-wrapper, .todos-wrapper{
    display: inline-block;
    vertical-align: top;
    margin: 40px;
}
.todos-wrapper{
    padding-top:40px;
    box-shadow: 1px 1px 9px #ddd;
    padding: 22px 48px 38px 30px;
    background-color: #fff6db;
    border-radius: 16px;
}
#lists li a{
    color:#191926;
}
#lists li a:hover{
    color:#48485b;
}
#lists li a:active{
    color:#ff4b4b;
}
#lists li a:focus{
    text-decoration: none;
}
#lists li a:link{
    text-decoration: none;
}
#lists li a:active{
    text-decoration: none;
}