<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=#, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}">
    <!-- styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <!--
        # Lists
    -->
    <div class="lists-wrapper">
        <h2>Lists</h2>
        <form id="list-form">
            <input id="listname" type="text" name="listname">
            <input type="submit" value="Create a List">
        </form>
        <div id="error-lists" class="hidden">Something went wrong!</div>
        <ul id='lists'>
            {% for list in lists %}
            <li>
                <input class="list-completed" data-id="{{ list.id }}" type="checkbox" {% if list.completed %} checked {% endif %}/>
                <a href="/lists/{{ list.id }}">
                    {{ list.name }}
                </a>
                <button class="delete-list" data-id="{{ list.id }}">&cross;</button>
            </li>  
            {% endfor %}
        </ul>
    </div>
    <!--
        # Todos
    -->
    <div class="todos-wrapper">
        <h4 id="active-list">{{ active_list.name }}</h4>
        <form id="form">
            <input id=description type="text" name="description">
            <input type="submit" value="Create">
        </form>
        <div id="error" class="hidden">Something went wrong!</div>
        <ul id="todos">
            {% for todo in todos %}
            <li>
                <input class="check-completed" data-id="{{ todo.id }}" data-list-id="{{ todo.list_id }}" type="checkbox" {% if todo.completed %} checked {% endif %}/>
                {{ todo.description }}
                <button class="delete-todo" data-id="{{ todo.id }}">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <!-- js -->
    <script src="{{ url_for('static', filename='js/main.js') }}""></script>
</body>
</html>

